In [2]:
L = [1,2,3,4,"ram",5,"Shyam",32,342]

In [14]:
L.append(10)

In [15]:
L

[1, 2, 3, 4, 'ram', 5, 'Shyam', 32, 342, 2, 2, 10, 10]

In [44]:
L.append(3)

In [45]:
L

[33, 10, 10, 2, 2, 342, 32, 'Shyam', 5, 4, 3, 2, 1, 3]

In [19]:
L.pop?

In [46]:
L.pop(L[3])

10

In [47]:
L

[33, 10, 2, 2, 342, 32, 'Shyam', 5, 4, 3, 2, 1, 3]

In [48]:
L.reverse()

In [49]:
L

[3, 1, 2, 3, 4, 5, 'Shyam', 32, 342, 2, 2, 10, 33]

In [25]:
L

[33, 10, 10, 2, 2, 342, 32, 'Shyam', 5, 4, 3, 2, 1]

In [27]:
T = (1,2,3,4,5)

In [28]:
T

(1, 2, 3, 4, 5)

In [29]:
D = {23:"ram",'B':22,30:"shyam","C":43}

In [30]:
D

{23: 'ram', 'B': 22, 30: 'shyam', 'C': 43}

In [31]:
D2 = {"A":L,"B":T,"C":D}

In [32]:
D2

{'A': [33, 10, 10, 2, 2, 342, 32, 'Shyam', 5, 4, 3, 2, 1],
 'B': (1, 2, 3, 4, 5),
 'C': {23: 'ram', 'B': 22, 30: 'shyam', 'C': 43}}

In [52]:
D2["A"]

[3, 1, 2, 3, 4, 5, 'Shyam', 32, 342, 2, 2, 10, 33]

In [53]:
D2["A"]

[3, 1, 2, 3, 4, 5, 'Shyam', 32, 342, 2, 2, 10, 33]

In [54]:
D2["A"][3]

3

In [55]:
k = D2["A"]

In [56]:
k

[3, 1, 2, 3, 4, 5, 'Shyam', 32, 342, 2, 2, 10, 33]

In [59]:
for i in k:
    print(i,k[i])

3 3
1 1
2 2
3 3
4 4
5 5

TypeError: list indices must be integers or slices, not str

In [62]:
L3 = [x**2 for x in range(2,30,2)]

In [63]:
L3

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784]

In [73]:
"""Lets say you are a teacher and you have diferent records containing id of students and thre marks
list in each subject where different student have taken different number of subjects and all these
records are in hard copy. you want to enter all the data in computer and want to compute
the average marks of each student and display"""

def getDataFromUser():
    D ={}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma seperated values")
        moreStudent = input("Enter no to quit insertion:")
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudent.lower() == "no":
            return D

In [76]:
studentData = getDataFromUser()

Enter student ID: 3
Enter the marks by comma seperated values47,57,67,77,87
Enter no to quit insertion:no

In [93]:
studentData

{'3': ['47', '57', '67', '77', '87']}

In [89]:
def getAverageMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        sum = 0
        for marks in L:
            sum += int(marks)
        avgMarks[x] = sum/len(L)
    return avgMarks

In [90]:
avgM = getAverageMarks(studentData)

In [91]:
for x in avgM:
    print("Student :",x,"got average Marks as:", avgM[x])

Student : 3 got average Marks as: 67.0